# Parcial 1 Machine Learning. Binary Classifier.

## Funciones y librerias

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import accuracy_score, confusion_matrix

## Preprocesamiento

In [2]:
# Se obtienen los datos de los archivos de texto plano
xtrain = pd.read_csv("datos/xtrain.txt", sep="   ", header=None, engine='python')
ytrain = pd.read_csv("datos/ytrain.txt", sep="   ", header=None, engine='python')
xtest = pd.read_csv("datos/xtest.txt", sep="   ", header=None, engine='python')

In [3]:
# Creo un dataframe donde agrego la etiqueta de cada dato
data_labeled = xtrain
data_labeled.columns = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M",  "N", "O", "P"]
data_labeled["class"] = ytrain
data_labeled.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,class
0,40572.0,725.331,250.71401,206.47193,1.214276,0.567264,40900.0,227.28369,0.767479,0.991980,0.969089,0.906546,0.006179,0.002574,0.821825,0.997923,1.0
1,38180.0,740.017,272.92339,178.76282,1.526735,0.755635,38709.0,220.48194,0.718669,0.986334,0.876118,0.807853,0.007148,0.001878,0.652626,0.996387,0.0
2,46827.0,808.608,300.96747,198.95893,1.512712,0.750329,47295.0,244.17614,0.781766,0.990105,0.899974,0.811304,0.006427,0.001718,0.658214,0.995688,0.0
3,72058.0,1035.943,397.71702,233.41022,1.703940,0.809677,73724.0,302.89783,0.764541,0.977402,0.843763,0.761591,0.005519,0.001145,0.580021,0.988322,1.0
4,80886.0,1136.801,391.65449,263.80113,1.484658,0.739136,82299.0,320.91627,0.719492,0.982831,0.786528,0.819386,0.004842,0.001346,0.671394,0.996790,1.0

In [4]:
# Normalización de los datos
scaler = StandardScaler()
scaler.fit(xtrain)
xtrain_scaled = scaler.transform(xtrain)

# Una vez normalizados, los datos ahora tienen una media de 0 y una varianza de 1.
print(np.round(xtrain_scaled.mean(axis=0),2))
print(xtrain_scaled.std(axis=0))

[-0.  0. -0.  0.  0. -0.  0. -0. -0.  0.  0.  0. -0. -0. -0. -0. -0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [5]:
# Separación de los datos en datos de entramiento y prueba
X_train, X_test, y_train, y_test = train_test_split(xtrain_scaled, ytrain, test_size=0.3, random_state=31)
X_test, X_predict, y_test, y_predict = train_test_split(X_test, y_test, test_size=0.1, random_state=31)

In [6]:
X_train.shape # Verifico la dimensión de mis datos

(6300, 17)

## Funciones auxiliares

In [7]:
## Calculo de los IV (Funcion sacada de https://www.kaggle.com/code/puremath86/iv-woe-starter-for-python/notebook)
def calc_iv(df, feature, target, pr=False):
    lst = []
    df[feature] = df[feature].fillna("NULL")

    for i in range(df[feature].nunique()):
        val = list(df[feature].unique())[i]
        lst.append([feature,                                                        # Variable
                    val,                                                            # Value
                    df[df[feature] == val].count()[feature],                        # All
                    df[(df[feature] == val) & (df[target] == 0)].count()[feature],  # Good (think: Fraud == 0)
                    df[(df[feature] == val) & (df[target] == 1)].count()[feature]]) # Bad (think: Fraud == 1)

    data = pd.DataFrame(lst, columns=['Variable', 'Value', 'All', 'Good', 'Bad'])
    data['Share'] = data['All'] / data['All'].sum()
    data['Bad Rate'] = data['Bad'] / data['All']
    data['Distribution Good'] = (data['All'] - data['Bad']) / (data['All'].sum() - data['Bad'].sum())
    data['Distribution Bad'] = data['Bad'] / data['Bad'].sum()
    data['WoE'] = np.log(data['Distribution Good'] / data['Distribution Bad'])
    
    data = data.replace({'WoE': {np.inf: 0, -np.inf: 0}})

    data['IV'] = data['WoE'] * (data['Distribution Good'] - data['Distribution Bad'])

    data = data.sort_values(by=['Variable', 'Value'], ascending=[True, True])
    data.index = range(len(data.index))

    if pr:
        print(data)
        print('IV = ', data['IV'].sum())

    iv = data['IV'].sum()
    #print('El IV de esta variable es:',iv)
    #print(df[feature].value_counts())
    return iv, data

In [ ]:
IVs = {}
for col in data_labeled.columns:
    if col != "class":
        iv, data = calc_iv(xtrain, col, 'class')
        IVs[col] = iv

El IV de esta variable es: 0.003231748840559598
47134.0     4
44710.0     4
38426.0     4
40504.0     3
48396.0     3
           ..
54313.0     1
172746.0    1
51015.0     1
72756.0     1
41248.0     1
Name: A, Length: 8269, dtype: int64
El IV de esta variable es: 0.00030686472769471135
805.168    3
984.123    3
911.589    3
896.732    2
924.848    2
          ..
796.996    1
660.614    1
659.434    1
935.660    1
750.674    1
Name: B, Length: 8863, dtype: int64

In [ ]:
IVs